<nav>
 <ul class="{{include.navclass}}">
<li> <a  href= "{{site.baseurl}}/index.html" class="{% if page.url == '/index.html'  %}current{% endif %}">Baile</a> </li>
<li> <a  href= "{{site.baseurl}}/eolas.html" class="{% if page.url == '/eolas.html'  %}current{% endif %}">Eolas</a> </li>
<li> <a  href= "{{site.baseurl}}/dict/index.html" class="{% if page.url == '/index.html'  %}current{% endif %}">Téarmaíocht</a> </li>
<li> <a  href= "{{site.baseurl}}/rchursa/index.html" class="{% if page.url == '/rchursa/ainm.html' %}current{% endif %}">Ainmfhocal</a> </li>
<li> <a  href= "{{site.baseurl}}/rchursa/tearma.html" class="{% if page.url == '/rchursa/tearma.html' %}current{% endif %}">Ainmfhocal</a> </li>

</ul>

</nav>
<hr>
