<nav>
 <ul class="{{include.navclass}}">
<li> <a  href= "{{site.baseurl}}/index.html" class="{% if page.url == '/index.html'  %}current{% endif %}">Baile</a> </li>
<li> <a  href= "{{site.baseurl}}/eolas.html" class="{% if page.url == '/eolas.html'  %}current{% endif %}">Eolas</a> </li>
<li> <a  href= "{{site.baseurl}}/fcl-2.html" class="{% if page.url == '/fcl-2.html'  %}current{% endif %}">Ailt</a> </li>
<li> <a  href= "{{site.baseurl}}/dict/index.html" class="{% if page.url == '/index.html'  %}current{% endif %}">Téarmaíocht</a> </li>
<li> <a  href= "{{site.baseurl}}rchursa.html" class="{% if page.url == '/rchursa.html' %}current{% endif %}">Réchúrsa</a> </li>

</ul>

</nav>
<hr>
